.header-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem 4rem;
  box-sizing: border-box;
}

.header-container header {
  grid-column: 2/3;
}
.header-container div {
  justify-self: end;
}
.header-container a {
  text-decoration: none;
}
.header-container h1 {
  color: var(--primary-color);
}
.header-container h1 span {
  color: var(--secondary-color);
}

.cart {
  position: relative;
}

.cart .cart-button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 1rem 2rem;
  font-size: inherit;
  font-weight: 700;
  color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.cart .cart-icon.material-symbols-outlined {
  color: var(--secondary-color);
}

.cart-button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header-container {
    grid-template-columns: 1fr auto;
  }
  
  .header-container header {
    grid-column: 1/2;
  }
  .cart .cart-button {
    padding-right: 0;
    padding-left: 3rem;
  }
}
